<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <title>Opg 3 JS</title>
</head>

<body>
  <h1>Hello</h1>

  <div id="app">
    <input id="inputField" v-model="word" placeholder="Word">
    <button id="button" v-on:click="sayWord(word)" class="btn btn-primary">Save</button>
    <ol>
        <li v-for="w in results">{{w}}</li>
    </ol> 
    <table class="table table-bordered table-striped">
        <tr v-for="(w, index) in results">
            <td>{{index+1}}.</td>
            <td>{{w}}</td>
      </tr>
    </table>
  </div>

  <script src="index.js"></script>
</body>

</html>